@media screen and (max-width: 768px) {

    /*INICIO SEÇÃO 1 RESPONSIVA*/
    .secao-1 {
        background-size: cover;
        height: 70vh;
    }

    header img {
        width: 40%;
        height: 40%;
    }

    .container-esquerda {
        width: 100vw;
        margin-top: 70px;
    }

    .container-esquerda .promessa {
        font-size: 25px;
        width: 100vw;
    }

    .container-esquerda .descricao-promessa {
        font-size: 13px;
        padding-right: 50px;
        margin-top: 25px;
    }

    .secao-1 button {
        font-size: 12px;
        padding: 10px 14px;
        width: 85vw;
    }

    .secao-1 i {
        font-size: 12px;
    }

    /*FIM SEÇÃO 1 RESPONSIVA*/

    /*INICIO SEÇÃO 2 RESPONSIVA*/
    .secao-2 {
        height: 80vh;
    }

    .texto-secao-2 .h3-branco,
    .texto-secao-2 .h3-azul {
        font-size: 22px;
        margin-top: -100px;
    }

    .texto-secao-2 .introducao-cards {
        font-size: 18px;
        padding: 0px 63px;
    }

    .container-quadrados-desktop {
        display: none;
    }

    .container-quadrados-mobile {
        display: block;
    }

    img.brilho-azul-secao-2 {
        display: none;
    }

    .container-quadrados-mobile {
        position: relative;
        z-index: 1;
    }

    .container-quadrados-mobile .cards-slider {
        max-height: 300px;
        max-width: 300px;
        margin: 0 -35px 0 auto;
    }

    .cards-slider .card-esquerda,
    .cards-slider .card-centro,
    .cards-slider .card-direita {
        margin: 0;
    }

    /*FIM DA SEÇÃO 2 RESPONSIVA*/

    /*INICIO DA SEÇÃO 3 RESPONSIVA*/
    .secao-3 {
        height: 80vh;
    }

    .secao-3 .container-titulo {
        text-align: center;
    }

    .secao-3 .titulo span {
        text-align: center;
        padding: 0 30px;
    }

    /*FIM DA SEÇÃO 3 RESPONSIVA*/

    /*INICIO DA SEÇÃO 4 RESPONSIVA*/
    .secao-4 {
        height: 60vh;
    }

    .secao-4 .titulo-secao-4 {
        text-align: center;
        padding: 0 10px;
    }

    .secao-4 .imagem-secao-4 {
        background-size: 375px;
        height: 275px;
        margin-top: 0;
    }

    .secao-4 button {
        width: 80vw;
        font-size: 10px;
        margin-top: -60px;
    }

    .secao-4 i {
        font-size: 10px;
    }

    /*FIM DA SEÇÃO 4 RESPONSIVA*/

    /*INICIO DA SEÇÃO 5 RESPONSIVA*/
    .secao-5 {
        display: flex;
        justify-content: flex-start;
        height: 1600px;
    }

    .secao-5 .titulo-secao-5 h1 {
        text-align: center;
        padding: 0 10px;
        margin-bottom: 30px;
    }

    .secao-5 .cards-secao-5 {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 0 20px;
        gap: 50px;
    }

    .secao-5 .cards-secao-5 .card-para-quem-e,
    .secao-5 .cards-secao-5 .card-para-quem-nao-e {
        grid-template-rows: 30px 600px;
    }

    .secao-5 .cards-secao-5 .card-para-quem-nao-e .box ul {
        grid-template-rows: 60px 80px 60px 80px 60px;
    }

    .secao-5 .cards-secao-5 .card-para-quem-e .box li,
    .secao-5 .cards-secao-5 .card-para-quem-nao-e .box li {
        font-size: 16px;
    }
    /*FIM DA SEÇÃO 5 RESPONSIVA*/

    /*INICIO DA SEÇÃO 6 RESPONSIVA*/
    .secao-6{
        height: auto;
    }

    .secao-6 .textos{
        padding: 50px 10px 50px 20px;
    }

    .secao-6 .textos h1{
        font-size: 30px;
    }

    .secao-6 .textos p{
        font-size: 16px;
    }

    .secao-6 .cta{
        text-align: center;
        padding: 0px 10px;
    }

    .secao-6 .cta span{
        font-size: 20px;
    }

    .secao-6 button{
        font-size: 12px;
        padding: 10px 14px;
    }

    .secao-6 i{
        font-size: 12px;
    }
    /*FIM DA SEÇÃO 6 RESPONSIVA*/
    /*INICIO DA SEÇÃO 7 RESPONSIVA*/
    .secao-7 .titulo-perguntas{
        text-align: center;
    }

    .container-faq .faq-item{
        width: 95vw;
    }

    .container-faq .resposta{
        width: 80vw;
        padding: 20px;
        font-size: 14px;
    }
    /*FIM DA SEÇÃO 7 RESPONSIVA*/

    /*FOOTER RESPONSIVO*/
    footer p{
        font-size: 12px;
    }

    /****FIM RESPONSIVO****/
}