/*RESET CSS*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/*FIM RESET CSS*/

/*CLASSES GERAIS*/
:root {
    --font: "Montserrat", sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
}

body {
    overflow: none;
    background-color: #000;
}

body::-webkit-scrollbar {
    display: none;
}

.btn-padrao-1 {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #f2f2f2;
    background: linear-gradient(315deg, #97a8da, #088395, #071952, #1a3a75);
    background-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 60px;
    margin-top: 45px;
    transition: all 0.4s ease;
    animation: anime 16s linear infinite;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 100;
}

.btn-padrao-1:hover {
    background: none;
    border: 1px solid #1a3a75;
    color: #f2f2f2;
    transform: translateY(-8px);
    box-shadow: 0 10px 20px -5px rgba(224, 222, 222, 0.5);
}

.btn-padrao-1:hover:active {
    transform: translateY(-1px);
}

.btn-padrao-1 .fa-angles-up {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 20px;
}

/*FIM CLASSES GERAIS*/

/*INICIO SEÇÃO 1*/
.secao-1 {
    background-image: url(../imagens/background-image-conecta.png);
    background-repeat: no-repeat;
    position: relative;
}

header {
    padding-left: 30px;
}

header img {
    margin-top: -20px;
    width: 13%;
    height: 13%;
}

.divisao-header {
    background-color: #1a3a75;
    height: 1px;
    width: 92%;
    margin-top: -55px;
}

.container-esquerda {
    margin-top: 60px;
    margin-left: 30px;
    width: 50vw;
}

.container-esquerda .promessa {
    color: #f2f2f2;
    font-family: var(--font);
    font-size: 60px;
    width: 60vw;
}

.container-esquerda .descricao-promessa {
    color: #f2f2f2;
    font-family: var(--font);
    margin-top: 25px;
}

.brilho-preto-secao-1 {
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0px;
    z-index: 0;
}

.secao-1 button {
    margin-top: 25px;
}

.btn-mobile {
    display: none;
}

/*FIM SEÇÃO 1*/

/*INICIO SEÇÃO 2*/
.secao-2 {
    background-color: #000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.secao-2 .texto-secao-2 {
    min-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto-secao-2 .h3-branco {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #f2f2f2;
}

.texto-secao-2 .h3-azul {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #1a3a75;
    margin-left: 6px;
}

.texto-secao-2 .introducao-cards {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #f2f2f2;
    flex-basis: 100%;
    margin-top: -50px;
}

.container-quadrados-desktop {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadrado-1,
.quadrado-2,
.quadrado-3,
.quadrado-4 {
    border: 1px solid #1a3a75;
    height: 350px;
    width: 325px;
    display: inline-block;
    z-index: 101;
}

.quadrado-1 {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.quadrado-4 {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.container-quadrados-desktop .cards {
    width: 975px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 102;
}

.card-esquerda,
.card-centro,
.card-direita {
    width: 280px;
    height: 100%;
    background-color: #000;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-esquerda {
    margin-right: 67.5px;
}

.card-direita {
    margin-left: 67.5px;
}

.borda-azul {
    width: 264px;
    height: 284px;
    border: 1px solid #1a3a75;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.card-esquerda .borda-azul img {
    width: 165px;
    height: 125px;
    margin: 24px 0 0 12px;
}

.p-branco-card-esquerda {
    color: #f2f2f2;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-left: 12px;
}

.span-azul-card-esquerda {
    color: #1a3a75;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-left: 12px;
}

.card-centro .borda-azul img {
    width: 125px;
    height: 125px;
    margin: 24px 0 0 12px;
}

.p-branco-card-centro {
    color: #f2f2f2;
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    margin-left: 12px;
}

.span-azul-card-centro {
    color: #1a3a75;
    font-size: 18px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-left: 12px;
}

.card-direita .borda-azul img {
    width: 150px;
    height: 100px;
    margin: 48px 0 0 12px;
}

.p-branco-card-direita {
    color: #f2f2f2;
    font-size: 16.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-left: 12px;
}

.span-azul-card-direita {
    color: #1a3a75;
    font-size: 16.5px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

img.brilho-azul-secao-2 {
    position: absolute;
    width: 1366px;
    height: 500px;
    bottom: 20px;
    z-index: 0;
}

a.whatsapp-link {
    z-index: 109;
}

.container-quadrados-mobile {
    display: none;
}

/*FIM SEÇÃO 2*/

/*INICIO SEÇÃO 3*/
.secao-3 {
    height: 100vh;
    background-color: #000;
    font-family: var(--font);
}


.secao-3 .container-titulo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 12.5vh;
}

h2.titulo-secao-3 {
    font-family: var(--font);
    color: #f2f2f2;
    font-size: 34px;
    line-height: 42px;
    padding-top: 5px;
}

.container-cards-secao-3 {
    width: 100vw;
    height: 87.5vh;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/*CLASSES GERAIS DOS CARDS*/
.container-cards-secao-3 li {
    position: relative;
    padding: 0 10px 0 24px;
    margin-bottom: 24px;
}

.container-cards-secao-3 li .icon-minus {
    position: absolute;
    top: 1px;
    left: 6px;
}

/**/

/*CARD 1*/
/*SEÇÃO TITULO CARD 1*/
.container-cards-secao-3 .card-1 {
    background-color: #f2f2f2;
    color: #1a3a75;
    height: 100%;
    border: 1px solid #1a3a75;
    border-radius: 12px;
}

.container-cards-secao-3 .card-1 .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-cards-secao-3 .card-1 .titulo h1 {
    font-size: 28px;
    color: #1a3a75;
    margin-top: 25px;
}

.container-cards-secao-3 .card-1 .titulo span {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 60px;
}

/*FIM SEÇÃO TITULO CARD 1*/

/*CARD 2*/
/*SEÇÃO TITULO CARD 2*/
.container-cards-secao-3 .card-2 {
    background: linear-gradient(0deg, rgba(242, 242, 242, 0.5) 0%, rgba(26, 58, 117, 1) 50%);
    color: #f2f2f2;
    height: 100%;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
}

.container-cards-secao-3 .card-2 .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-cards-secao-3 .card-2 .titulo h1 {
    font-size: 28px;
    margin-top: 25px;
}

.container-cards-secao-3 .card-2 .titulo span {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 60px;
}

/*FIM SEÇÃO TITULO CARD 2*/

/*CARD 3*/
/*SEÇÃO TITULO CARD 3*/
.container-cards-secao-3 .card-3 {
    background: linear-gradient(0deg, rgba(26, 58, 117, 0.4) 0%, rgba(0, 0, 0, 1) 50%);
    color: #f2f2f2;
    height: 100%;
    border: 1px solid #1a3a75;
    border-radius: 12px;
}

.container-cards-secao-3 .card-3 .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container-cards-secao-3 .card-3 .titulo h1 {
    font-size: 28px;
    color: #1a3a75;
    margin-top: 25px;
}

.container-cards-secao-3 .card-3 .titulo span {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 60px;
}

/*FIM SEÇÃO TITULO CARD 3*/
/*FIM DA SEÇÃO 3*/

/*INÍCIO DA SEÇÃO 4*/
.secao-4 {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secao-4 .titulo-secao-4 {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 16vh;
}

.secao-4 .titulo-secao-4 h1 {
    color: #f2f2f2;
    font-family: var(--font);
    font-size: 27.5px;
}

.secao-4 .titulo-secao-4 span {
    color: #1a3a75;
}

.secao-4 .imagem-secao-4 {
    background-image: url(../imagens/Cards-RedesSociais-tinypng.png);
    background-repeat: no-repeat;
    background-size: 1125px;
    background-position: top;
    width: 100vw;
    height: 84vh;
    margin-top: -140px;
}

.secao-4 button {
    margin-top: -40px;
}

/*FIM DA SEÇÃO 4*/

/*INICIO DA SEÇÃO 5*/
.secao-5 {
    background-color: #000;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.secao-5 .titulo-secao-5 {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-5 .titulo-secao-5 h1 {
    color: #f2f2f2;
    font-family: var(--font);
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
}

.secao-5 .cards-secao-5 {
    width: 100vw;
    height: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    padding: 30px 140px 0px 140px;
}

.secao-5 .cards-secao-5 .card-para-quem-e,
.secao-5 .cards-secao-5 .card-para-quem-nao-e {
    display: grid;
    grid-template-rows: 30px auto;
    gap: 10px;
}

.secao-5 .cards-secao-5 .card-para-quem-e h2,
.secao-5 .cards-secao-5 .card-para-quem-nao-e h2 {
    color: #f2f2f2;
    font-family: var(--font);
    text-transform: uppercase;
    display: grid;
    justify-self: center;
    align-self: center;
}

.secao-5 .cards-secao-5 .card-para-quem-e .box {
    background: linear-gradient(90deg, rgba(242, 242, 242, 1) 20%, rgba(191, 192, 194, 1) 100%);
    color: #1a3a75;
    border-radius: 15px;
    display: grid;
    box-shadow: rgba(242, 242, 242, 0.25) 0px 6px 12px 4px, rgba(242, 242, 242, 0.3) 0px 4px 8px 4px;
}

.secao-5 .cards-secao-5 .card-para-quem-nao-e .box {
    background: linear-gradient(90deg, rgba(26, 58, 117, 1) 20%, rgba(108, 138, 194, 1) 100%);
    color: #f2f2f2;
    border-radius: 15px;
    display: grid;
    box-shadow: rgba(242, 242, 242, 0.25) 0px 6px 12px 4px, rgba(242, 242, 242, 0.3) 0px 4px 8px 4px;
}


.secao-5 .cards-secao-5 .card-para-quem-e .box ul,
.secao-5 .cards-secao-5 .card-para-quem-nao-e .box ul {
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px;
    gap: 20px;
    padding-right: 20px;
}

.secao-5 .cards-secao-5 .card-para-quem-e .box i.fa-square-check,
.secao-5 .cards-secao-5 .card-para-quem-nao-e .box i.fa-square-xmark {
    font-size: 60px;
    display: grid;
    justify-self: center;
    align-self: center;
}

.secao-5 .cards-secao-5 .card-para-quem-e .box li,
.secao-5 .cards-secao-5 .card-para-quem-nao-e .box li {
    font-size: 18px;
    font-family: var(--font);
    position: relative;
}

.secao-5 .cards-secao-5 .card-para-quem-e .box li p,
.secao-5 .cards-secao-5 .card-para-quem-nao-e .box li p {
    padding-left: 52px;
}

.secao-5 .cards-secao-5 .card-para-quem-e .box li i.fa-check,
.secao-5 .cards-secao-5 .card-para-quem-nao-e .box li i.fa-xmark {
    position: absolute;
    top: 2px;
    left: 25px;
}

.secao-5 button {
    margin-bottom: 80px;
}

.secao-5 .divisao-rasgo {
    background-image: url(../imagens/fundo-papel1-rasgo.svg);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: -4px;
    background-repeat: repeat-x;
    background-size: cover;
    transform: rotateY(180deg);
    z-index: 0;
}

/*FIM SEÇÃO 5*/

/*INÍCIO SEÇÃO 6*/
.secao-6 {
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secao-6 .textos {
    width: 100vw;
    padding: 50px 20px 50px 30px;
    color: #1a3a75;
    font-family: var(--font);
}

.secao-6 .textos h1 {
    font-size: 46px;
}

.secao-6 .textos p {
    font-size: 20px;
}

.secao-6 .cta span {
    color: #1a3a75;
    font-size: 22px;
    font-family: var(--font);
}

.secao-6 button:hover {
    color: #1a3a75;
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

/*FIM DA SEÇÃO 6*/

/*INÍCIO DA SEÇÃO 7*/
.secao-7 {
    height: auto;
    background: linear-gradient(140deg, rgba(26, 58, 117, 1) 0%, rgba(0, 0, 0, 1) 100%);
    position: relative;
}

.secao-7 .divisao-rasgo {
    background-image: url(../imagens/fundo-papel1-rasgo.svg);
    width: 100%;
    height: 50px;
    position: absolute;
    top: -1px;
    background-repeat: repeat-x;
    background-size: cover;
    transform: rotateY(180deg);
    transform: rotate(180deg);
    z-index: 0;
}

.secao-7 .titulo-perguntas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}

.secao-7 .titulo-perguntas h1 {
    color: #f2f2f2;
    font-family: var(--font);
    font-weight: 600;
    font-size: 34px;
}

.container-faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-faq .faq-item {
    background: rgba(26, 58, 117, 0.29);
    width: 600px;
    height: 75px;
    margin-top: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.container-faq .faq-item {
    width: 600px;
    height: 75px;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: var(--font);
    line-height: 18px;
    color: #f2f2f2;
}

.container-faq .resposta {
    background-color: rgba(0, 0, 0, 0.29);
    color: #f2f2f2;
    font-family: var(--font);
    height: auto;
    width: 570px;
    padding: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.container-faq .faq-item i {
    transition: all .3s;
}

.container-faq input#abrir-question-1:checked~.active-1>i,
.container-faq input#abrir-question-2:checked~.active-2>i,
.container-faq input#abrir-question-3:checked~.active-3>i,
.container-faq input#abrir-question-4:checked~.active-4>i,
.container-faq input#abrir-question-5:checked~.active-5>i {
    transform: rotate(90deg);
}

.container-faq input#abrir-question-1,
.container-faq .faq-answer-1 {
    display: none;
}

.container-faq input#abrir-question-1:checked~.faq-answer-1 {
    display: block;
}

.container-faq input#abrir-question-2,
.container-faq .faq-answer-2 {
    display: none;
}

.container-faq input#abrir-question-2:checked~.faq-answer-2 {
    display: block;
}

.container-faq input#abrir-question-3,
.container-faq .faq-answer-3 {
    display: none;
}

.container-faq input#abrir-question-3:checked~.faq-answer-3 {
    display: block;
}

.container-faq input#abrir-question-4,
.container-faq .faq-answer-4 {
    display: none;
}

.container-faq input#abrir-question-4:checked~.faq-answer-4 {
    display: block;
}

.container-faq input#abrir-question-5,
.container-faq .faq-answer-5 {
    display: none;
}

.container-faq .margin {
    margin-bottom: 50px;
}

.container-faq input#abrir-question-5:checked~.margin {
    margin-bottom: 0px;
}

.container-faq input#abrir-question-5:checked~.faq-answer-5 {
    display: block;
    margin-bottom: 50px;
}

/*FIM DA SEÇÃO 7*/

/*FOOTER*/
footer {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #252525;
}

footer .redes {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 20px 0px 15px 20px;
}

footer .redes a {
    color: #555555;
    font-family: var(--font);
    position: relative;
}

footer .redes a:hover {
    color: #f2f2f2;
    transition: all .2s;
}

footer .redes .e-mail {
    margin-bottom: 3px;
}

footer .redes a span {
    position: absolute;
    left: 25px;
}

footer p {
    font-family: var(--font);
    color: #555555;
    margin-left: 20px;
    margin-bottom: 15px;
}

/*FIM DO FOOTER*/

/*ANIMAÇÕES*/
@keyframes anime {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}